PORT=3000
RATE_LIMIT=100
JWT_SECRET=change_this_secret
PASS_KEY=ExamplePassKey!
QUEUE_MAX=5
SCRAPE_DELAY=2000
NODE_ENV=development
MASTER_KEY=5de0f7120d6e8a9063aca929d362718982bd408c25dfb3f001ec2ba72633f0ec
CRON_SECRET=your_cron_secret_here
MAX_RETRIES=3